<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop - Games</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/product-games.css">
</head>
<body>

<header>
    <nav th:replace="~{fragments/navigation :: navbar}"></nav>
</header>

<main>
    <div class="products-navigation-panel">
        <div class="main-container">
            <ul class="product-types">
                <li class="product-type">
                    <a href="/products/games">Games</a>
                </li>
                <li class="product-type">
                    <a href="/products/books">Books</a>
                </li>
                <li class="product-type">
                    <a href="/products/movies">Movies</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-container products-section">
        <section class="left">
<!--            TODO: to me continued-->
        </section>
        <section class="right">
            <div class="products-sort-panel">
                <div class="products-text">
                    <h3>Products</h3>
                </div>
                <span class="line-separator"></span>
                <form>
                    <label for="products">Sort by</label>
                    <select id="products" name="products">
                        <option value="volvo">Most Popular</option>
                        <option value="saab">Price</option>
                        <option value="fiat">Type</option>
                        <option value="audi">Title</option>
                    </select>
                </form>
            </div>

            <div class="products-list">

                <div th:replace="~{fragments/product-fragments :: movies}"></div>


<!--                <div class="product-info" th:each="game : ${games}" th:object="${game}">-->
<!--                    <div class="product-image">-->
<!--                        <img th:src="@{|*{image.imagePath}|}" alt="product image">-->
<!--                    </div>-->
<!--                    <div class="stars stars-rating-wrapper">-->
<!--                        <i class="fa fa-star"></i>-->
<!--                        <i class="fa fa-star"></i>-->
<!--                        <i class="fa fa-star"></i>-->
<!--                        <i class="fa fa-star"></i>-->
<!--                        <i class="fa fa-star"></i>-->
<!--                        &lt;!&ndash;                        TODO: reviews count&ndash;&gt;-->
<!--                        <p class="rating">4.31 (31)</p>-->
<!--                    </div>-->
<!--                    <div class="product-title-wrapper">-->
<!--                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">-->
<!--                            default title-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="product-genres">-->
<!--                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">default genres</p>-->
<!--                    </div>-->
<!--                    <div class="product-price" th:text="*{price}">-->
<!--                        default price-->
<!--                    </div>-->
<!--                    <div class="add-to-cart">-->
<!--                        <label for="add-to-cart">-->
<!--                            <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">-->
<!--                            <input type="hidden" name="productId" th:value="*{id}">-->
<!--                            <input type="hidden" name="quantity" value="1">-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </section>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>