<th:block xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <div class="main-container">
            <div class="left-side">
                <h1 class="logo">
                    <a th:href="@{/}">
                        e<span class="shop-text">Shop</span>
                    </a>
                </h1>
                <p class="footer-text">This project is created for educational purposes only. I will appreciate your
                    feedback!</p>
            </div>
            <div class="right-side">
                <p class="follow-us">
                    Follow us on
                </p>
                <ul class="footer-icons">
                    <li class="footer-icon">
                        <a href="">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>