main {
    width: 100vw;
    height: calc(100vh - 65px);
    background-color: #E5E5E5;
}
.error-heading {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: #333333;
    padding-top: 80px;
    text-align: center;
}
.error-text {
    text-align: center;
    margin-top: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.error-image {
    margin-top: 40px;
    padding: 0 600px;
}