<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <nav th:replace="~{fragments/navigation :: navbar}"></nav>
</header>
<main>
    <div class="main-container">
        <section th:replace="~{fragments/home :: categories-section(types=${types})}"></section>
        <section th:replace="~{fragments/home :: info-icons}"></section>
    </div>

    <section th:replace="~{fragments/home :: popular-products}"></section>
    <div class="main-container">
        <section th:replace="~{fragments/home :: new-products(newProducts=${games}, category='games')}"></section>

        <section th:replace="~{fragments/home :: new-products(newProducts=${books}, category='books')}"></section>

        <section th:replace="~{fragments/home :: new-products(newProducts=${movies}, category='movies')}"></section>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="/js/script.js"></script>
</body>
</html>