<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav th:replace="~{fragments/navigation :: navbar}"></nav>
</header>

<div class="wrapper" th:object="${product}">
    <div class="info row" th:if="${type.name() == 'GAME'}">
        <h1 class="info-item">Game title: <span th:text="*{title}"></span></h1>
        <h1 class="info-item">Game price: <span th:text="*{price}"></span></h1>
        <h1 class="info-item">Game company: <span th:text="*{company}"></span></h1>
    </div>
    <div class="info row" th:if="${type.name() == 'BOOK'}">
        <h1 class="info-item">Book title: <span th:text="*{title}"></span></h1>
        <h1 class="info-item">Book price: <span th:text="*{price}"></span></h1>
        <h1 class="info-item">Book author: <span th:text="*{author}"></span></h1>
        <h1 class="info-item">Book pages: <span th:text="*{pages}"></span></h1>
    </div>
    <div class="info row" th:if="${type.name() == 'MOVIE'}">
        <h1 class="info-item">Movie title: <span th:text="*{title}"></span></h1>
        <h1 class="info-item">Movie price: <span th:text="*{price}"></span></h1>
        <h1 class="info-item">Movie director: <span th:text="*{director}"></span></h1>
        <h1 class="info-item">Movie studio: <span th:text="*{studio}"></span></h1>
    </div>
</div>
</body>
</html>