<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop - Games</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/product-games.css">
    <style>
        header {
            width: 100vw;
            height: 65px;
            background-color: black;
        }
        .panel {
            width: 100vw;
            height: 60px;
            background-color: #2D9CDB;
        }
    </style>
</head>
<body>

<header>
</header>

<main>
    <div class="panel"></div>

    <div class="main-container products-section">
        <section class="left">
        <!--            TODO: to be implemented-->
        </section>
        <section class="right">
            <div class="products-sort-panel">
                <div class="products-text">
                    <h3>Products</h3>
                </div>
                <span class="line-separator"></span>
                <form>
                    <label for="products">Sort by</label>
                    <select id="products" name="products">
                        <option value="volvo">Most Popular</option>
                        <option value="saab">Price</option>
                        <option value="fiat">Type</option>
                        <option value="audi">Title</option>
                    </select>
                </form>
            </div>

            <div class="products-list">

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        69.90 BGN
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>

                <div class="product-info" th:each="book : ${books}" th:object="${book}">
                    <div class="product-image">
                        <a href="/products/id" class="product-poster">
                            <img src="../static/img/books/the_cuckoo_calling.jpg" alt="product image">
                        </a>
                    </div>
                    <div class="stars stars-rating-wrapper">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <!--                        TODO: reviews count-->
                        <p class="rating">4.31 (31)</p>
                    </div>
                    <div class="product-title-wrapper">
                        <p class="product-title" th:text="*{#strings.abbreviate(title, 20)}">
                            The Legend of Zelda: Breath of the Wild
                        </p>
                    </div>
                    <div class="product-genres">
                        <p th:text="*{#strings.arrayJoin(genres, ', ')}">
                            Action, Adenture, Horror, Thriller
                        </p>
                    </div>
                    <div class="product-price" th:text="*{price}">
                        default price
                    </div>
                    <div class="add-to-cart">
                        <form th:action="@{/orders/add}" method="POST">
                            <label for="add-to-cart">
                                <input class="c-add-btn" type="submit" id="add-to-cart" value="Add to cart">
                                <input type="hidden" name="productId" th:value="*{id}">
                                <input type="hidden" name="quantity" value="1">
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>